{% extends "base.html" %}
<!-- 별도로 html태그가 없으면 장고는 body영역으로 간주함-->

{% load static %}
{% block title %}Information_detail.html{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <h1 class="post-title">{{ object.title }}</h1>

            <div class="panel heading">
                <div align="right">
                    <span class="post-date">{{ object.modify_date|date:"Y.m.d a H:i l" }}</span>
                    <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">댓글 보기</a>
                    <span  class="read">  조회수 {{ object.hits }}</span>
                </div>
            </div>

            <div class="panel body">
                <p align="right">
                    {% if postob.file %}
                        <a id="id_uploaded_file" href="" download>{{ PostOB.file.name }}</a>
                        파일 첨부:<a href="{{ postob.file.url }}" download>{{ postob.file.name }}</a>
                    {% endif %}
                </p>
                <br/><br/><br/>
                <p>{{ object.content|linebreaksbr }}</p>
                <br/><br/><br/>

                {% if postob.file %}
                    <img src="{{ postob.file.url }}" alt="">
                    <br/>
                {% endif %}

                <br/><br/><br/>

                <div>
                    {% if object.owner.hukbun == user.hukbun %}
                        <a class="btn btn-default pull-right" href="{% url 'community:ob_delete' object.id %}">Delete</a>
                        <a class="btn btn-default pull-right" href="{% url 'community:ob_update' object.id %}">Update</a>
                    {% endif %}
                    <a class="btn btn-default pull-left"  href="{% url 'community:ob_list' %}" >목록</a>
                </div>

                {#                OnClick="location.href='{% url 'blog:update' %}'"#}
                <br/>
                <br/>
                <p class="other_posts">
                <h5 >{% if object.get_previous_by_modify_date %}
                    <a class="pull-left" href="{{ object.get_previous_post.get_absolute_url }}"
                       title="이전 게시물"> &laquo; Previous </a>
                {% endif %}
                    {#                    {{ object.get_previous_post }} {{ object.get_next_post }}#}
                    {% if object.get_next_by_modify_date %}
                        <a class="pull-right" href="{{ object.get_next_post.get_absolute_url }}" title="다음 게시물">  Next &raquo;</a>
                    {% endif %}</h5>
                </p>
            </div>

            <div class="panel modal-footer">
                <br/>
                <div>
                    {% load disqus_tags %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>

    <script id="dsq-count-scr" src="//paker.disqus.com/count.js" async></script>
    <br/>

{% endblock %}




