{% extends "base.html" %}
{% load static %} {# css파일을 쓰려면 무조건 써줘야함 ! setting.py에서도 경로 설정 해줘야함 #}
{% block title %}커뮤니티 리스트{% endblock %}

{% block css %}
    <script>
        // get url query string
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        // 정렬방식 셀렉트 박스 유지
        $(document).ready(function(){
            var sort = getUrlParameter('sort');
            if(sort == 'new'){
                $('.sort-new').prop('selected', 'selected')
            }else if(sort == 'mypost'){
                $('.sort-mypost').prop('selected', 'selected')
            }
        });
    </script>

{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <i><h1 class="page-header">중고 서적 </h1></i>
                <h4 align="right" >총 게시물 수: {{ totalCnt }}</h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <h5 align="right"><td>현재 게시물수 :{{ object_list.count }}</td></h5>

        <div class="dropdown pull-right ">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">검색/정렬
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_table }}
                    {#                <input class="form-control" id="myInput" type="text" placeholder="Search..">#}
                </form>
                <li><a href="{{ object_list.modify_date|escape  }}">최신순</a></li>
                <li><a href="{{ object.pk|escape  }}">내가쓴글</a></li>
            </ul>
        </div>

        {#table class="table table-striped table-bordered table-hover">#}

        <div>
            {% if object_list %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th >번호</th>
                        <th >분류 <i class="fa fa-sort"></i></th>
                        <th>작성자 <i class="fa fa-sort"></i></th>
                        <th>제목</th>
                        <th>등록일(수정일) <i class="fa fa-sort"></i></th>
                        <th>조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.pk }}</td>
                            <td>{{ item.buysell }}</td>
                            <td>{{ item.owner.username }} ({{ item.owner.hukbun }})</td>
                            <td>
                                <a href="{{ item.get_absolute_url }}" title="{{ item.description }}">{{ item.title }}</a>
                            </td>
                            <td>{{ item.modify_date|date:"Y / m / d" }}</td>
                            <td>{{ item.hits }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br/><br/><br/><br/>
                <i><h1 align="center"><span>게시글이 없네용~</span></h1></i>
                <br/><br/><br/><br/>
            {% endif %}
        </div>
        <a class="btn btn-default pull-right" OnClick="location.href='{% url 'community:ob_add' %}'">글쓰기</a>

        <br/><br/>

        <div align="center">
            <form class="form-inline" action="" method="post">{% csrf_token %}
                <div class="form-group ">
                    {{ form.as_table }}
                    <button class="btn btn-default " type="submit" value = "submit" ><span class="glyphicon glyphicon-search"></span></button>
                </div>

            </form>

        </div>

        {#--페이징--#}
        <div align="center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}"><span>이전</span></a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#"><span>이전</span></a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}  {#페이징 숫자 범위를 5개로 하기위해서 view에서 만들어서 넘겨준것, paginator.page_range는 장고에서 기본 제공#}
                        <li class="page-item" {% if page == page_obj.number %}></li>
                            <li class="page-item active"{% endif %}>
                            <a href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-link"><a href="?page={{ page_obj.next_page_number }}"><span>다음</span></a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#"><span>다음</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <br/>
    </div>
{% endblock %}




{# <li {% if not page_obj.has_next %}class="disabled"{% endif %}>  #}
