{% extends "base.html" %}
<!-- 별도로 html태그가 없으면 장고는 body영역으로 간주함-->

{% load static %}
{% block title %}post_detail.html{% endblock %}
{% block extrastyle %}{% static "css/../../../../mysite3/static/css/bootstrap.css" %}{% endblock %}

{% block content %}
    <div id="content">
        <div><a class="btn btn-default pull-right"href="{% url 'blog:delete' object.id %}">Delete</a>
            <a class="btn btn-default pull-right" href="{% url 'blog:update' object.id %}">Update</a>
            <a class="btn btn-default pull-left" href="{% url 'blog:index' %}" >목록</a></div>
        {# OnClick="location.href='{% url 'blog:update' %}'" #}
        {#        <table class="table table-hover" >#}
        {#            <tr width = 10>#}
        {#                <td><b>번호</b></td>#}
        {#                <td> {{ object.id }} </td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <td><b>조회수</b></td>#}
        {#                <td> {{ object.hits }} </td>#}
        {#            </tr>#}
        {#            <tr><td><b>이름 </b></td><td> {{ user }} </td></tr>#}
        {#            <tr><td><b>제목 </b></td><td> {{ object.title }} </td></tr>#}
        {#            <td><b>내용 </b></td><td width=350> {{ object.content }} </td>#}
        {#        </table>#}
        <br/>
        <hr/>

        {# bgcolor="white" valign="top" align="right" width="140" #}

        <td>조회수 : {{ post.hits }}</td>


        <tr>
            <td bgcolSor="#aaaaaa" style="padding:2px;" colspan="2">
                <table cellpadding="0" cellspacing="1" border="0" width="540">
                    <tr>
                        <td width="100" bgcolor="#EFEFEF" align="center" height="20">작성자</td>
                        <td width="44" bgcolor="white">
                            {{ object.owner }}
                        </td>
                    </tr>
                    <tr>
                        <td BGCOLOR="#EFEFEF" align="center" valign="middle" height="25">날짜</td>
                        <td bgcolor="white">{{ object.modify_date|date:"Y년 F j일" }}</td>
                    </tr>
                    <tr>
                        <td BGCOLOR="#EFEFEF" align="center" valign="middle" height="25">제목</td>
                        <td bgcolor="white">{{ object.title }}</td>
                    </tr>
{#                    <tr VALIGN="top">#}
{#                        <td BGCOLOR="#EFEFEF" align="center" valign="middle">내용</td>#}
{#                        <td bgcolor= "white"class="content">{{ object.content }}</td>#}
{#                    </tr>#}
                </table>
                <p>내용: {{ object.content }}</p>
            </td>
        </tr>



        <br/>
        <p class="other_posts">
        <h5 >{% if object.get_previous_by_modify_date %}
            <a class="pull-left" href="{{ object.get_previous_post.get_absolute_url }}"
               title="이전 게시물"> &laquo;  -- {{ object.get_previous_post }}</a>
        {% endif %}


            {% if object.get_next_by_modify_date %}
                <a class="pull-right" href="{{ object.get_next_post.get_absolute_url }}" title="다음 게시물"> {{ object.get_next_post }}  -- &raquo;</a>
            {% endif %}</h5>
        </p>

        <br/>
        <br/>
        <hr/>



    </div>
{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
