{% extends "base.html" %}
<!-- 별도로 html태그가 없으면 장고는 body영역으로 간주함-->

{% load static %}
{% block title %}post_detail.html{% endblock %}

{% block content %}
    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <h3 align="center" class="title" font-size:13px;padding-top:3px;padding-bottom:3px;>{{ object.title }}</h3>
    <hr/>
    <div class="row show-grid">
        <div class="col-xs-12 col-sm-6 col-md-8">{{ object.owner.name }}</div>
        <div class="col-xs-6 col-md-4">
            <span class="sum">
                <span class="date"> {{ object.modify_date|date:"Y년 F j일" }}</span>
                <span class="read"> "조회수"</span><span class="num">      {{ post.hits }}</span>
                <span class="vote"> "댓글수"</span><span class="vote">    0</span>
            </span>
        </div>

    </div>

    <p>내용: {{ object.content }}</p>

    <br/><br/><br/><br/><br/>




    <hr/>
    <div align="center" id="content">
        <div><a class="btn btn-default pull-right"href="{% url 'community:delete' object.id %}">Delete</a>
            <a class="btn btn-default pull-right" href="{% url 'community:update' object.id %}">Update</a>
            <a class="btn btn-default pull-left" href="{% url 'community:post_list' %}" >목록</a></div>
        {# OnClick="location.href='{% url 'blog:update' %}'" #}

    <br/>
    <br/>

    <p class="other_posts">
    <h5 >{% if object.get_previous_by_modify_date %}
            <a class="pull-left" href="{{ object.get_previous_post.get_absolute_url }}"
            title="이전 게시물"> &laquo;  -- {{ object.get_previous_post }}</a>
            {% endif %}

            {% if object.get_next_by_modify_date %}
                <a class="pull-right" href="{{ object.get_next_post.get_absolute_url }}" title="다음 게시물"> {{ object.get_next_post }}  -- &raquo;</a>
            {% endif %}</h5>
        </p>

    </div>
{% endblock %}




