{% extends "base.html" %}

{% block title %}
    PaceMaker
{% endblock title%}
{% load staticfiles %}
{% block extrastyle %}

{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class-="col-xs-4">
                <img src="..\static\asset\PaceMaker\pm3.png" alt="PaceMaker" style="width:100%">
            </div>
        </div>
        <!-- /.row -->
    </div>

{% endblock content %}

{% block footer %}
    <div id="footer">
        &copy; Hansol Ju 2018
    </div>
{% endblock footer%}