{% extends "base.html" %}
{% block title %}세부전공내역{% endblock %}

{% load staticfiles %}
{% block extrastyle %}

{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">세부 전공 내역</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <h1>전공 리스트</h1>
        <table border="1">
            <th>과목명</th>
            <th>과목코드</th>
            <th>학년</th>
            <th>이수구분</th>
            <th>학점</th>
            <th>담당교수</th>
            <th>비교</th>
            <th>교시</th>
            <th>강의실</th>
            <tr/>
            {% for subject in subjects %}
                <td>{{ subject.year }}</td>
                <td>{{ subject.semester }}</td>
                <td><h2><a href="{{ subject.get_absolute_url }}">{{ subject.subjectName }}</a></h2></td>
                <td>{{ subject.subjectCode }}</td>
                <td>{{ subject.grade }}</td>
                <td>{{ subject.eisu }}</td>
                <td>{{ subject.score }}</td>
                <td>{{ subject.professor }}</td>
                <td>{{ subject.remarks }}</td>
                <td>{{ subject.time }}</td>
                <td>{{ subject.lectureRoom }}</td>
                <tr />
            {% endfor %}
        </table>

        <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
            {% endif %}

            Page {{  page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
            {% endif %}
        </span>
        </div>
{% endblock %}