{% extends "base.html" %}
{% block title %}전공상세정보{% endblock %}

{% load staticfiles %}
{% block extrastyle %}


{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ subjectName }}</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <ul>
                            <li><h4>교과목 해설</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <td>{{ subjectDescriptions }}</td>
                                    </tr>
                                </table>
                            </div>
                            <li><h4>세부핵심역량(학습성과)과의 관계</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>지식응용</th>
                                        <th>검증능력</th>
                                        <th>문제해결</th>
                                        <th>도구활용</th>
                                        <th>설계능력</th>
                                        <th>팀웍스킬</th>
                                        <th>의사전달</th>
                                        <th>영향이해</th>
                                        <th>책임의식</th>
                                        <th>자기주도</th>
                                    </tr>
                                    <tr>
                                        {% for coreCompetence in coreCompetences %}
                                            {% if coreCompetence == None %}
                                                <td></td>
                                            {% else %}
                                                <td>{{ coreCompetence}}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                            <li><h4>강의방법</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>강의형태</th>
                                        <td>{{ lectureMethods.0 }}</td>
                                        <th>수업방식</th>
                                        <td>{{ lectureMethods.1 }}</td>
                                        <th>교육용기자재</th>
                                        <td>{{ lectureMethods.2 }}</td>
                                    </tr>
                                </table>
                            </div>
                            <li><h4>과제물</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>과제물</th>
                                        <td>{{ assignments.0 }}</td>
                                    </tr>
                                </table>
                            </div>
                            <li><h4>성적구성비율</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <td>중간시험 {{ schoolCompositionRatios.0 }},    기말시험 {{ schoolCompositionRatios.1 }},    출석 {{ schoolCompositionRatios.2 }},    과제물 및 기타 {{ schoolCompositionRatios.3 }},    [성적평가구분 : {{ schoolCompositionRatios.4 }}]</td>
                                    </tr>
                                </table>
                            </div>
                            <li><h4>주별 강좌내용</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>주</th>
                                        <th>교수내용</th>
                                        <th>방법</th>
                                        <th>관련자료</th>
                                        <th>과제물</th>
                                    </tr>
                                    {% for weeklyCourseContent in weeklyCourseContents %}
                                        <tr>
                                            <td>{{ weeklyCourseContent.week }}</td>
                                            <td>{{ weeklyCourseContent.contents }}</td>
                                            <td>{{ weeklyCourseContent.methods }}</td>
                                            <td>{{ weeklyCourseContent.related_materials }}</td>
                                            <td>{{ weeklyCourseContent.assignments }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <li><h4>교재</h4></li>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>도서명</th>
                                        <th>저자</th>
                                        <th>출판사</th>
                                        <th>출판년도</th>
                                    </tr>
                                    <tr>
                                        {% for book in books %}
                                            <td>{{ book }}</td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="Average" width="300" height="180"></canvas>
            </div>
            <script>
                var ctx = document.getElementById('Average').getContext('2d');
                var Average = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        {#        labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],#}
                        labels: ['1학년', '2학년', '3학년', '4학년'],
                        datasets: [
                            {
                                {#            data: [12, 19, 3, 17, 6, 3, 7],#}
                                data: [{% for c in cnt %} "{{ c }}", {% endfor %}],
                                backgroundColor: ['rgba(223, 240, 216,1)',
                                                    'rgba(242,222,222,1)',
                                                    'rgba(217, 237, 247,1)',
                                                'rgba(240,173,78,1)'
                                    ]
                            },
                        ]
                    },
                });
            </script>
        </div>
    </div>
{% endblock %}