{% extends "base.html" %}
{% block title %}수강신청추천{% endblock %}
{% load staticfiles %}
{% load custom %}
{% block extrastyle %}

{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">우수학생 수강신청 추천</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <ul>
                            <div class="table-responsive">
                                {% for scoreInfo in ScoreList %}
                                    <strong><h4><li>{{ scoreInfo.0 }}등 평점 평균: {{ scoreInfo.1 }}</li></h4></strong>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr>
                                            <th>년도 및 학기</th>
                                            <th>과목명</th>
                                            <th>이수구분</th>
                                            <th>인증구분</th>
                                            <th>학점</th>
                                            <th>설계학점</th>
                                            <th>점수</th>
                                            <th>유효구분</th>
                                        </tr>
                                        {% for gradeQueryset in  Top5GradesList  %}
                                            {% for grade in gradeQueryset %}
                                                <tr>
                                                    <td>{{ dicList|index:forloop.parentloop.counter0 | change:grade.yearNsemester }}</td>
                                                    <td><a href="#">{{ grade.subject }}</a></td>
                                                    <td>{{ grade.eisu }}</td>
                                                    <td>{{ grade.certification }}</td>
                                                    <td>{{ grade.score }}</td>
                                                    <td>{{ grade.grade_design }}</td>
                                                    <td>{{ grade.grade }}</td>
                                                    <td>{{ grade.valid }}</td>
                                                <tr />
                                            {% endfor %}
                                        </table>
                                    <br />
                                    <hr />
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}오후 6:36 2018-06-06